@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
  }

  .profile__title {
    margin-top: 30px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-top: 14px;
  }

  .profile__add-button {
    margin: 0;
    min-width: 282px;
    margin-bottom: 30px;
  }

  .profile__edit-button {
    margin: 0;
  }

  .header .page__section {
    justify-content: center;
    margin-left: 27px;
  }

  .profile__logo {
    margin-left: 27px;
    margin-top: 28px;
  }

  .footer {
    margin-left: 19px;
  }
}
