@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }

  .profile {
    flex-direction: column;
    display: flex;
    padding-top: 0;
  }

  .profile__image {
    height: 120px;
    width: 120px;
    display: block;
    margin: auto;
  }

  .profile__title {
    margin-top: 30px;
    font-size: 22px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    text-align: center;
    margin-bottom: 36px;
    margin-top: 0;
  }

  .profile__add-button {
    margin: 0;
    min-width: 282px;
  }

  .profile__edit-button {
    margin: 0;
    margin-top: 30px;
    height: 18px;
    width: 18px;
    margin-left: 10px;
    align-items: center;
  }

  .header .page__section {
    justify-content: center;
    margin-left: 27px;
    margin-bottom: 36px;
  }

  .header__logo {
    margin-left: 27px;
  }

  .card__description {
  }

  .footer {
    margin: auto;
    margin-left: 19px;
    font-size: 14px;
  }
}
