.footer {
  display: flex;
  position: relative;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 60px;
  margin-top: 30.75px;
  margin-left: 200px;
  color: #545454;
}

.footer__copyright {
  font-size: 18px;
  line-height: 21.78px;
  margin-top: 0;
  margin-bottom: 0;
}

@media screen and (max-width: 480px) {
  .footer {
    margin: auto;
    margin-left: 19px;
    margin-bottom: 36px;
  }

  .footer__copyright {
    font-size: 14px;
  }
}
