.header {
  margin-top: 45px;
  border-bottom: 1px solid;
  border-color: rgba(84, 84, 84, 0.7);
}

.header__logo {
  height: 33px;
  width: 173px;
}

@media screen and (max-width: 480px) {
  .header {
    margin-top: 28px;
    margin-left: 27px;
  }

  .header__logo {
    width: 126px;
    height: 24px;
  }

  .header .page__section {
    justify-content: center;
    margin-left: 27px;
    margin-bottom: 36px;
  }
}
