.page {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: black;
  color: white;
  overflow-x: hidden;
}

.page__section {
  max-width: 880px;
  width: 100%;
  position: relative;
  margin: 0 auto;
  margin-bottom: 36.25px;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
