.profile {
  display: flex;
  align-items: center;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  grid-template-columns: minmax(auto, 373) auto;
  align-items: center;
}

.profile__edit-button {
  background: transparent url("../images/edit-button.svg") center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border: 1px solid #fff;
  margin-left: 18px;
  margin-right: 10px;
}

.profile__edit-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__add-button {
  background: transparent url("../images/Vector\ \(8\).svg") center no-repeat;
  width: 150px;
  height: 50px;
  margin-left: auto;
  border: none;
  border: 2px solid #fff;
}

.profile__add-button:hover {
  cursor: pointer;
  opacity: 60%;
}

.profile__title {
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.profile__description {
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  grid-area: description;
  margin: 0;
  margin-top: 7px;
  margin-bottom: 14px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 400px;
}

.profile__image {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
  margin-right: 24px;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    display: flex;
    padding-top: 0;
  }

  .profile__image {
    height: 120px;
    width: 120px;
    display: block;
    margin: auto;
  }

  .profile__title {
    margin-top: 30px;
    font-size: 22px;
    max-width: 222px;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
  }

  .profile__description {
    width: 100%;
    max-width: 282px;
    text-align: center;
    margin-bottom: 36px;
    margin-top: 0;
    font-size: 14px;
  }

  .profile__add-button {
    margin: 0;
    min-width: 282px;
  }

  .profile__edit-button {
    margin: 0;
    margin-top: 30px;
    height: 18px;
    width: 18px;
    margin-left: 10px;
    align-items: center;
  }
}
